Host 10.5.*
	User {{ bastion_user }}
	ProxyCommand ssh {{ bastion_user }}@{{ bastion_public_ip }} nc %h %p

Host {{ bastion_public_ip }}
	Hostname {{ bastion_public_ip }}
	User {{ bastion_user }}
	ControlMaster   auto
	ControlPath     ~/.ssh/mux-%r@%h:%p
	ControlPersist  15m
	IdentityFile    ~/.ssh/hosty-key.pem
